<h2>Add user</h2>

<form (submit)="onSubmit()" [formGroup]="addUserForm" novalidate>

  <p>
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input type="text" autocomplete="off"
             formControlName="firstName"
             matInput
      >
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input type="text" autocomplete="off"
             formControlName="lastName"
             matInput
      >
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="text" autocomplete="off"
             formControlName="email"
             matInput
      >
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input type="text" autocomplete="off"
             formControlName="phoneNumber"
             matInput
      >
    </mat-form-field>
  </p>

  <p>
    <mat-radio-group formControlName="level">
      <mat-label>Level</mat-label>
      <br>
      <mat-radio-button
        (change)="onLevelChange($event)"
        *ngFor="let level of levels; let first = first"
        [value]="level.title"
      >
        {{level.title}}
      </mat-radio-button>
    </mat-radio-group>
  </p>

  <div>
    <mat-label>Skills</mat-label>
    <div *ngFor="let skill of skills">
      <mat-checkbox [value]="skill" (change)="onSkillChange($event, i)">
        {{skill}}
      </mat-checkbox>
    </div>
  </div>

  <p>
    <mat-slide-toggle #ready>
      Ready to relocate
    </mat-slide-toggle>
  </p>

  <p *ngIf="ready.checked">
    <mat-form-field>
      <mat-select placeholder="Areas to relocate" formControlName="areasToRelocate" multiple>
        <mat-option *ngFor="let area of areas | async" [value]="area.title">{{area.title}}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <button mat-raised-button color="accent" [disabled]="!addUserForm.valid">Save</button>

  <pre>{{ addUserForm.value | json }}</pre>

</form>
